<h1><%= @cocktail.name %></h1>

  Cocktail: <%= @cocktail.name %>

  <% @doses.each do |dose| %>
  <ul>
    <li>Ingredients: <%= dose.ingredient.name %></li>
    <li>Doses: <%= dose.description %></li> <%= link_to "ðŸ—‘ Delete", dose_path(dose), method: :delete %>
  </ul>
  <% end %>

<%= link_to "Choose the doses ðŸ", new_cocktail_dose_path(@cocktail), class: "btn btn-light" %>

<%= link_to "Back to Cocktails List ðŸ¸", cocktails_path, class: "btn btn-light" %>
